.PersonYearKRDetailWrap {
  background-color: rgba(245, 247, 249, 1);
  box-sizing: border-box;
  height: calc(100vh - 45px);
  .topNav {
    display: flex;
    justify-content: space-between;
    height: 45px;
    line-height: 45px;
    padding: 0px 10px;
    border-bottom: 1px solid #ccc;

    .title {
      margin-left: 20px;
      font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
    }
  }

  .yearRelative {
    height: 140px;
    margin: 10px 45px;
    background-color: rgba(255, 255, 255, 1);
    .title {
      display: flex;
      justify-content: space-around;
      .subtitle_55 {
        width: 550%;
        background: red;
      }
      .small_15 {
        width: 10%;
        background: pink;
      }
    }
  }
}
