@import '~antd/dist/antd.css';
.app {
    display: flex;
    // flex-direction: column;
    // align-items: center;
    width: 100vw;
    height: 100vh;
    // background: pink;

    .side{
        min-width: 200px;
        max-width: 200px;
        border-right: 1px solid #ccc;
        // background: yellowgreen;
    }
    .content{
        width: calc(100vw - 200px);
        min-width: 800px;
        // background: bisque;
    }
   
 
}
