.TestEnvTeamListCla {
  .TestEnvTeamListRow {
    margin-left: 36px;
    margin-right: 20px;
    height: 44px;
    line-height: 44px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    .objectOrder {
      // margin-left: 10px;
      width: 40px;
      // border-right: 1px solid #ccc;
    }
    .objectInput {
      width: 65%;
      // border-right: 1px solid #ccc;
    }

    .objectTitle {
      width: 55%;
      // border-right: 1px solid #ccc;
      .objectTitleNum {
        margin-right: 10px;
      }
      &:hover {
        color: rgb(245, 154, 35);
        cursor: pointer;
      }
    }
    .objectWeight {
      margin-left: 10px;
      width: 16%;
      // border-right: 1px solid #ccc;
    }
    .objectFinish {
      margin-left: 10px;
      width: 16%;
      // border-right: 1px solid #ccc;
    }
    .objectAdmin {
      margin-left: 10px;
      width: 10%;

      // border-right: 1px solid #ccc;
    }
    .objectIsAction {
      margin-left: 10px;
      width: 10%;
      color: rgb(45, 140, 240);
      cursor: pointer;
      // background: yellow;
    }
  }

  .TestEnvTeamEditRow{
    // background: red;
  }

  .addOneKRCla {
    margin-left: 36px;
    margin-right: 20px;
    cursor: pointer;
    height: 44px;
    line-height: 44px;
    background: #fff;
    &:hover {
      background: #eee;
    }
  }
}
